*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
    width: 100%;
    height: 100%;
    margin: 0;
}

section{
    /* background: rgb(245, 229, 245); */
    justify-content: center;
    align-items: center;
    display: block;
    margin: 2% 32%;
    padding: 10px;
    margin-top: -40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#image{
    position: relative;
    top: 50px;
    width: 120px;
    height: 120px;
}

.logo, .logo2{
    font-weight: bold;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    margin: 15px 0 10px;
    color: orangered;
}

h3{
    margin: 15px 0;
    padding: 5px 5px;
    font-size: medium;
}

form{
    display: flex;
    flex-direction: column;
    margin: 25px 0;
    padding: 5px 5px;
}

input, select{
    height: 7vh;
    border: 1px solid orangered ;
    border-radius: 4px;
}

select{
    color: orangered;
    font-size: 15pt;
}

select:hover{
    cursor: pointer;
    border: 2px solid rgb(136, 40, 5);
}

input::placeholder{
    font-size: 15pt;
    color: orangered;
    padding: 0 10px;
}

span{
    color: orangered; 
    padding: 2px;
}

input:hover{
    cursor: pointer;
    border: 2px solid rgb(136, 40, 5);
}

option{
    font-size: 15pt;
    color: orangered;
    padding: 0 10px;
}


.bd{
    color: white;
    margin: 30px 0;
    border: none;
    height: 7vh;
    border: 1px solid orangered ;
}

.bd:hover{
    cursor: pointer;
}

button{
    height: 7vh;
    font-weight: bold;
    font-size: 15pt;
    outline: none;
    color: rgb(82, 82, 81);
    background-color:#e6dada;
    border-radius: 4px;
    border: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button:hover{
    cursor: pointer;
    box-shadow: 5px;
    color:rgb(253, 250, 253) ;
    background-color: orangered;
}
.cool{
    background-color: orangered ;
    text-decoration: none;
    color: white;
    /* margin: 30px 0; */
border: none;
box-shadow: 3px #333;
height: 7vh;
outline: none;
border-radius: 4px;
font-weight: bold;
font-size: 15pt;
position: relative;
padding-top: 2.5%;
}
.tic{
    display: flex;
    margin: 8px 30px 5px;
}

#checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 8px;
}

#checkbox:hover{
    cursor: pointer;
}

.p2 .p1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 0px 0 10px;
}

a{
    text-decoration: none;
    color: orangered;
}

.logo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -20px;
    right: 30px;
}

#image2{
    position: relative;
    width: 80px;
    height: 80px;
    /* margin-top: -20px; */
    margin-left: 50px;
}

h1{
    position: relative;
    right: 15px;
}

footer{
    margin-top: 30px;
}
/* #floatingInput:focus{
    outline: none;
} */